body {
    background-color: aquamarine;
}

.grid {
    width: 600px;
    height: 500px;
    margin: 0 auto;
    background-color: cornflowerblue;
    padding: 10px 50px 50px 50px;
    border-radius: 50px;
    border:2px solid black;
    box-shadow: 10px 15px 5px black;
}

.grid h1 {
    font-family: fantasy;
    background-color: crimson;
    font-size: 60px;
    text-align: center;
    color: #fff;
    padding: 2px 0px;
    border-radius: 50px;
}

.grid #question {
    font-family: fantasy;
    font-size: 30px;
    color: black;
}

.buttons {
    margin-top: 30px;
}

#btn0, #btn1, #btn2, #btn3  {
    background-color: darkolivegreen;
    width: 250px;
    font-size: 20px;
    color: #fff;
    border: 1px solid black;
    border-radius: 50px;
    margin: 10px 40px 10px 0px;
    padding: 10px 10px;
}

#score {
    color: black;
    text-align: center;
    font-size: 30px;
}
#progress {
    color: black;
    font-size: 10px;
}

#btn0:hover, #btn1:hover, #btn2:hover, #btn3:hover {
    cursor: pointer;
    background-color: olive;
}

#btn0:focus, #btn1:focus, #btn2:focus, #btn3:focus {
    outline: 0;
}

#level1-btn {
  
    background-color: darkolivegreen;
    font-size: 18px;
    text-align: center;
    color: #fff;
    border: 1px solid black;
    border-radius: 50px;
    margin: 10px 40px 10px 0px;
    padding: 10px 20px;
    font-weight: bold;
}

.controls {
    margin-top: 200px;
    display: flex;
    justify-content: center;
   
}

.hide {
    display: none;
}